<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Avoid getting favicon -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Simple Todo</h1>
    <hr class="topline">

    <div id="task-list">
        <!-- We will be rendering each to-do item here -->
        {% for todo in todos %}
            <div class="todo">
                <b class="todo-name">{{ todo.key }}</b>
                <span class="todo-desc">{{ todo.desc }}</span>
                <a class="del" href="/delete?todo={{ todo.key }}"><i class="fa-sharp fa-solid fa-trash del-ico"></i></a>
            </div>
        {% endfor %}
    </div>

    <button class="new-btn" onclick="this.nextElementSibling.showModal()">+</button>

    <dialog id="new-modal" class="popup">
        <span onclick="this.parentNode.close()" class="close" title="Close Modal">&times;</span>
        <h2>New To-do</h2><br>
        <!-- Add the form to create a to-do here -->
        <form class="create-form" action="/create" method="post">
            <input name="name" placeholder="Todo Name" type="text" required><br>
            <textarea name="desc" placeholder="Description" rows="6" required></textarea><br>
            <div class="actions">
                <button type="button" onclick="document.getElementById('new-modal').close()">Cancel</button>
                <input type="submit" value="Submit">
            </div>
        </form>
    </dialog>
</body>
</html>
