<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Avoid getting favicon -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Simple Todo</h1>
    <hr class="topline">

    <ol class="container-fluid">

    </ol>

    <button class="new-btn" onclick="document.getElementById('new-modal').style.display='block'"><i style="color: #73AD21;" class="fa-solid fa-plus fa-2xl"></i></button>

    <div id="new-modal" class="modal">
        <span onclick="document.getElementById('new-modal').style.display='none'" class="close" title="Close Modal">&times;</span>

    </div>

    <script src="/static/script.js"></script>
</body>